@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
@import "reset.css";

* {
  font-family: "Sunflower", sans-serif;
}

@media screen and (min-width: 700px) {
  .container {
    margin: 30px auto;
    width: 600px;
  }
  .set-modal {
    background-color: whitesmoke;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 699px) {
  .container {
    margin: 30px auto;
    width: 80%;
  }
  .set-modal {
    background-color: whitesmoke;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body {
  background-color: cornflowerblue;
}

.hidden {
  display: none;
}

.finish {
  text-decoration: line-through;
}

/* 헤더 영역 */
header {
  color: whitesmoke;
  background-color: darkgreen;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
}

input[type="button"],
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input[type="button"]:active,
button:active,
input[type="button"]:hover,
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* 메인 부분 */
main {
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 60vh;
  border-radius: 0 0 20px 20px;
  position: relative;
}

.todo-list {
  width: 90%;
  background-color: whitesmoke;
  margin: 0 auto;
  overflow-y: scroll;
  height: 100%;
}

.todo-list > li {
  padding: 10px 0;
  border-bottom: 1px solid gray;
  font-size: 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-list input {
  border: none;
  font-size: 17px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: darkgreen;
}

/* 네비게이션 부분 */
nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: whitesmoke;
}

nav button {
  font-size: 15px;
  font-weight: 500;
}

/* 모달 관련 */
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.set-modal {
  padding: 10px 0;
}
.set-modal > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.set-modal form {
  width: 100%;
  height: 50px;
  text-align: center;
}

.set-modal input[type="text"] {
  margin: 5px auto;
  padding: 10px 15px;
  outline: none;
  width: 80%;
  box-sizing: border-box;
}

.btns {
  text-align: center;
}

.set-modal button,
.set-modal input[type="button"] {
  color: #fff;
  background-color: darkgreen;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}

.set-modal button:active,
.set-modal input[type="button"]:active {
  color: darkgreen;
  background-color: whitesmoke;
}

.open-modal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.open-modal > button:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.open-modal > button {
  font-size: 15px;
  color: whitesmoke;
  background-color: darkgreen;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
}

.modal {
  margin: 50% auto;
}
